<!DOCTYPE html>
<html>

<head>
    <title>Jake's Job Listing</title>

</head>

<body>
    <h1>Remote Jobs</h1>

    <form method="GET">
        <input type="text" name="search" placeholder="Search jobs" value="{{search}}">
        <select name="category">
            <option value="">All</option>
            <option value="software-dev" {% if category == "software-dev" %}selected{% endif %}>
            <option value="design">Design</option>
        </select>
        <input type="text" name="company" placeholder="Company" value="{{ company}}">

        <button type="submit">Filter
        </button>
    </form>
    <div>
        {% for job in jobs %}
        <div class="job">
            <h2>{{ job.title }}</h2>
            <p><strong>Company:</strong> {{ job.company_name }}</p>
            <p><strong>Location:</strong> {{ job.candidate_required_location }}</p>
            <a href="{{ job.url }}" target="_blank">Apply</a>
        </div>

        {% endfor %}
    </div>
</body>

</html>